body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f3;
}

header {
    overflow: hidden;
    padding: 14px 10px;
    text-align: left;
    background: #37474f;
    color: white;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.header-left {
    float: left;
}

header .logo{
    float: left;
}

header a {
    float: left;
    color: white;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 14px; 
    line-height: 25px;
    border-radius: 4px;
}

header a.name {
    font-size: 20px;
    font-weight: bold;
}

header a:hover {
    background-color: #62727b;
    color: white;
}

.header-right {
    float: right;
}

header a.active {
    background-color: #607d8b;
    color: white;
    font-weight: bold;
}


* {
    box-sizing: border-box;
}

/* Float three columns side by side */
.column {
    float: left;
    width: 33.33%;
    padding: 0 20px;
}

.row {
    margin: 0 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    padding-bottom: 115px;
    text-align: left;
    background-color: #f9f9f9;
}

.card-actions {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.title {
    float: left;
    display: flex;
    align-items: center;
    margin-top: auto;
    font-weight: bold;
    font-size: 110%;
    width: 100%;
    height: 3em;
}

#kebab-menu {
    margin-left: auto;
    width: 28;
    height: 28;
}

.inner {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: -35px;
    text-align: left;
    background-color: white;
    position: relative;
}

.close {
    float: right;
    margin-top: 10px;
}

.card-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.task-image {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

.card-actions {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.card-date {
    float: right;
    margin-top: -30px;
}

.add-task-btn {
    float: right;
    color: white;
    background-color: teal;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 60px;
}

.add-task-btn:hover {
    background-color: #cdd2d4;
    color: #4d4d4d;
}





.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    
    &.light {
    background: rgba(255,255,255,0.5);
  }
  
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
	margin: 75px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 300px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: relative;
  
    .light & {
        border-color: #aaa;
        box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    }
  
    .close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
        opacity: 0.8;
        transition: all 200ms;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #666;
        &:hover {
            opacity: 1;
        }
    }
    .content {
        max-height: 400px;
        overflow: auto;
    }
}



footer{
    text-align: center;
    background: #37474f;
    color: white;
    position: fixed;
    bottom: 0;
    padding-top: 3px;
    width: 100%;
    height: 30px;
}

footer a{
    color: white;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {

    header .logo {
        float: left;
    }
    
    header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    header a.name {
        margin-left: 40px;
    }

    .header-right {
        float: none;
    }
    
    .header-left {
        float: none;
    }
    
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
