body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f3;
}

header {
    overflow: hidden;
    padding: 14px 10px;
    text-align: left;
    background: #37474f;
    color: white;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    
}

.header-left {
    float: left;
}

header .logo{
    float: left;
}

header a {
    float: left;
    color: white;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 14px; 
    line-height: 25px;
    border-radius: 4px;
}

header a.name {
    font-size: 20px;
    font-weight: bold;
}

header a:hover {
    background-color: #62727b;
    color: white;
}

.header-right {
    float: right;
}

header a.active {
    background-color: #607d8b;
    color: white;
    font-weight: bold;
}


* {
    box-sizing: border-box;
}

/* Float three columns side by side */
.column {
    float: left;
    width: 33.33%;
    padding: 0 20px;
}

.row {
    margin: 0 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #f9f9f9;
    
    overflow: auto;
    max-height: 70vh;
}

.card-actions {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}
    
.title {
    float: left;
    display: flex;
    align-items: center;
    margin-top: auto;
    font-weight: bold;
    font-size: 110%;
    width: 100%;
    height: 3em;
}

#kebab-menu {
    margin-left: auto;
    width: 28;
    height: 28;
}

.inner {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: -35px;
    text-align: left;
    background-color: white;
    position: relative;
}

.close {
    float: right;
    margin-top: 10px;
}

.card-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.task-image {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

.card-actions {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.card-date {
    float: right;
    margin-top: -30px;
}

.add-task-btn {
    float: right;
    color: white;
    background-color: teal;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    
    margin-top: 10px;
    margin-bottom: 20px;
}

.add-task-btn:hover {
    background-color: #cdd2d4;
    color: #4d4d4d;
}

footer {
    text-align: center;
    background: #37474f;
    color: white;
    position: fixed;
    bottom: 0;
    padding-top: 3px;
    width: 100%;
    height: 30px;
}

footer a {
    color: white;
}
